$primaryColor: hsl(179, 62%, 43%);
$secondaryColor: hsl(71, 73%, 54%);
$fontGrey: hsl(204, 43%, 93%);
$fontBlue: hsl(218, 22%, 67%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Karla";
  background-color: $fontGrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  padding: 0 1rem;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 60%;
  overflow: hidden;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content 1fr;
  filter: drop-shadow(0px 20px 10px lighten($fontBlue, 18%));
}

.container-item {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

.subtitle {
  margin-bottom: 1rem;
}

.container-item--top {
  background-color: white;
  grid-column: 1 / -1;

  h2 {
    color: $primaryColor;
    margin-bottom: 1.5rem;
  }

  h3 {
    color: $secondaryColor;
  }

  p {
    color: $fontBlue;
    margin-bottom: 0.5rem;
  }
}

.container-item--left {
  background-color: $primaryColor;

  grid-column: 1/2;

  h3 {
    color: white;
    opacity: 90%;
  }
  p {
    color: $fontGrey;
  }
}

#price-tag {
  margin-bottom: 0.5rem;
  color: darken($fontGrey, 10%);
}

span {
  vertical-align: middle;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  opacity: 100%;
  margin-right: 0.5rem;
}

#cta-button {
  height: 3rem;
  margin-top: 2rem;
  background-color: $secondaryColor;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  filter: drop-shadow(0px 10px 10px darken($primaryColor, 5%));

  &:hover,
  &:focus,
  &:active {
    background-color: white;
    color: $primaryColor;
  }
}

.container-item--right {
  background-color: lighten($primaryColor, 3%);
  color: white;
  grid-column: 2 / -1;

  h3 {
    opacity: 90%;
  }

  ul {
    list-style-type: none;
  }

  li {
    color: $fontGrey;
    opacity: 85%;
    line-height: 1.3;
  }
}

@media (max-width: 375px) {
  body {
    height: auto;
    width: auto;
  }

  #wrapper {
    padding: 4rem 1.7rem;
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #container {
    width: auto;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
  }

  .container-item {
    padding: 1.5rem;

    h3 {
      font-size: 1rem;
    }
  }

  .container-item--top {
    padding-bottom: 2.5rem;

    p {
      font-size: 0.9rem;
      line-height: 2;
      margin-bottom: 0;
    }
  }

  .container-item--right {
    li {
      font-size: 0.9rem;
      line-height: 1.4;
    }
  }
}
